* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #defeff;
    display: grid;
}

.header {
    z-index: 10919;
    background-color: #000811;
    color: whitesmoke;
    height: 87px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo logo nav nav nav nav nav nav";

}

.header:hover {
    box-shadow: 0px -75px 95px 72px #438dab;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.header .logo {
    grid-area: logo;
}

.header .logo h4 {
    padding: 9px;
    font-size: 37px;
    text-align: left;
}

.header .navbar {
    grid-area: nav;
}

.header .navbar ul li a:any-link {
    color: inherit;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
}

.header .navbar ul li {
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    list-style: none;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 5px;

}

.header .navbar ul li:hover {
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    color: #77d7d7;
}

.description {
    text-align: center;
    z-index: 9919;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas: "c-left c-right c-right";
}

.content-left {
    grid-area: c-left;
}

.content-right {
    grid-area: c-right;
}

.description .content-left {
    padding: 50px;
    background-color: #c0e5e5;
}

.description .content-left img {
    width: 200px;
}

.description .content-right {
    padding: 25px;
    background-color: white;
}

.description .content-right img {
    width: 250px;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
}

.brk hr {
    padding: 0;
    height: 4px;
    margin-top: 0;
    margin-bottom: -1px;
    background-color: #438dab;
    background-image:
        linear-gradient(234deg,
            #438dab,
            transparent,
            #77d7d7);
}

.new-books {
    text-align: center;
    display: grid;
    z-index: 9919;
    text-align: center;
    grid-template-columns: repeat(3, 2fr);
    background-color: #77d7d7;
    grid-template-areas: "b1 b2 b3";
    padding: 50px;
}

.new-books img {
    width: 300px;
    border-radius: 0 25px 0 25px;
    -webkit-border-radius: 0 25px 0 25px;
    -moz-border-radius: 0 25px 0 25px;
    -ms-border-radius: 0 25px 0 25px;
    -o-border-radius: 0 25px 0 25px;
}

.new-books img:hover {
    box-shadow: 3px 3px 0px 1px white;
    transition: 1s;
}

.new-books .book-1 {
    grid-area: b1;
}

.new-books .book-2 {
    grid-area: b2;
}

.new-books .book-3 {
    grid-area: b3;
}

.new-books .book-3 h2,
.book-2 h2,
.book-1 h2 {

    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
}


.new-books dd a:any-link {
    text-decoration: none;
    color: inherit;
}

.new-books dd a h4 {
    font-size: 20px;
    background-color: #438daa;
    color: whitesmoke;
    width: 100px;
    text-align: center;
    margin: 10px;
    display: inline-grid;
    border-radius: 10px 0;
}

.new-books dd a h4:hover {
    background-color: #53b0d5;
    box-shadow: 0px 2px 0px 1px white;
    transition: 0.7s;
}

.new-books dd blockquote {
    width: 300px;
    overflow: hidden;
    display: inline-grid;
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    height: 100px;
}

.new-books dd blockquote:hover {
    height: 215px;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

.new-books dd .price-old,
.price-new {
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.new-books dd .price-new {
    font-size: 27px;
    color: whitesmoke;
    margin-top: -16px;
    margin-bottom: -13px;
}

.new-books dd .price-old {
    text-decoration-color: darkred;
    text-decoration-style: 3px solid;
    -moz-text-decoration-color: darkred;
    -moz-text-decoration-style: 3px solid;
}

.about-us .about-header {
    grid-area: about-header;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0px;
    font-size: 36px;
    order: -1;
    text-align: center;
    align-self: normal;
}

.about-us .about-logo-text {
    grid-area: about-logo;
    margin-bottom: 0;
    font-size: 40px;
    /* float: left; */
}

.about-us .about-description .about-d-text {
    /* width: 600px; */
    text-align: left;
    align-content: center;
    float: none;
    display: contents;
}

.about-us .about-description {
    grid-area: about-des;
    grid-area: about-des;
    padding: 10px;
    margin: 20px;
    order: 2;
}

.about-us .team .team-member-one {
    grid-area: memb1;
}

.about-us .team .team-member-two {
    grid-area: memb2;
}

.about-us .team .team-member-three {
    grid-area: memb3;
}

.about-us {
    display: flex;
    background-color: #c0e5e5;
    text-align: center;
    /* grid-template-columns: repeat(5, auto); */
    /* grid-template-rows: repeat(5, auto); */
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    align-content: stretch;
}

.about-us .team dl dd img {
    width: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 100px;
    border-radius: 250px 250px 250px 250px;
}

.about-us .team {
    display: inline-flex;
    text-align: center;
    order: 3;
    margin: 20px;
    margin-bottom: 25px;
}
